.highlighter-rouge, .content, .content pre, .code.highlighter-rouge, .content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content p, .content ul, .content ol, .content li, .content blockquote, .content hr, .content table {
    width: 100%;
}

code.highlighter-rouge {
    padding: 2px 8px;
    border: 0;
    border-radius: 8px;
    color: #fff;
    background: #8FA9D8;
  }
  
  .content pre {
    margin: 0;
    padding: 12px;
    border: 0;
    border-radius: 8px;
    background: var(--Elevated-Secondary);
    color: var(--body-color);
    white-space: pre-wrap;
    font-family: var(--font-monospace);
  }
  
  .content p > a {
    font-weight: 450 !important;
  }

  .content a {
    display: inline;
    padding: 0;
    color: var(--Develoid);
  }
  
  .content h2 {
    padding: 16px 0;
    border-bottom: 1px solid var(--border-color);
  }
  
  .content h3 {
    background: var(--Elevated-Primary);
    border-radius: 8px;
    padding: 16px;
    font-weight: 550 !important;
    margin-bottom: 24px;
  }

  .content strong {
    font-weight: 550 !important;
  }

  .content img {
    width: 100%;
    margin: 0 0 8px 0;
    border: 0;
    border-radius: 8px;
    display: block;
  }
  
  .content del {
    color: #BDBDBD;
    text-decoration:line-through;
  }
  
  .content ul,
  .content ol {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
    padding-left: 16px;
    line-height: 22px;
  }
  
  .content ul li,
  .content ol li {
  }

  .content li pre {
    margin: 12px 0 8px 0;
  }
  
  .content blockquote {
    margin: 16px 4px;
    padding: 12px 8px;
    border-left: 6px solid var(--Elevated-Secondary);
  }
  .content blockquote p { word-break:break-all; }
  .content blockquote ol,
  .content blockquote ul {
    margin-left: 24px;
  }
  
  .content hr {
    border: 0;
    border-bottom: 1px solid var(--border-color);
  }
  
  .content table {
    border-radius: 8px;
    border-spacing: 0;
    border-collapse: collapse;
  }
  
  .content th {
    padding: 24px 0;
    background: var(--Elevated-Primary);
  }
  
  .content td {
    width: 100%;
    padding: 16px;
    border: 0;
  }
  
  .content tr {
    background: var(--Elevated-Secondary);
  }
  
  .content tr:nth-child(even) {
    background: var(--Elevated-Secondary-NotTransparent);
  }