.content {
    width: 100%;
}

code.highlighter-rouge {
    padding: 2px 8px;
    border: 0;
    border-radius: 4px; /* radius */
    color: #fff;
    background: #8FA9D8;
  }
  
  .content .highlight pre {
    margin: 20px 0;
    padding: 12px;
    border:0;
    border-radius: 4px; /* radius */
    background: #ECEFF1;
    color: #212121;
    white-space: pre-wrap;
  }
  
  .content a {
    padding: 4px;
    color: #8FA9D8;
    transition: 0.5s;
  }
  
  .content h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .content h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .content img {
    max-width: 100%;
    margin: 16px auto;
    border: 0;
    border-radius: 4px; /* radius */
    display: block;
  }
  
  .content del {
    color: #BDBDBD;
    text-decoration:line-through;
  }
  
  .content p {
    margin: 16px 16px 8px;
  }
  
  .content ul,
  .content ol {
    margin: 8px;
    padding-left: 16px;
  }
  
  .content ul li,
  .content ol li {
    margin: 8px;
  }
  
  .content blockquote {
    margin: 16px 4px;
    padding: 12px 8px;
    border-left:6px solid #8FA9D8;
  }
  .content blockquote p { word-break:break-all; }
  .content blockquote ol,
  .content blockquote ul {
    margin-left:24px;
  }
  
  .content hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
  }
  
  .content table {
    border-radius: 4px; /* radius */
    border-collapse: collapse;
  }
  
  .content th {
    background: #CFD8DC;
  }
  
  .content th,
  .content td {
    padding:12px;
    border:1px solid #FFF;
  }
  
  .content tr{
    background: #FAFAFA;
  }
  
  .content tr:nth-child(even) {
    background: #ECEFF1;
  }