
<footer class="p-3 py-5">
    <div class="container">
        <div class="footer-nav nav py-2">
            <div class="nav-item">
                <a href="#" class="text-muted">이용약관</a>
            </div>
            <div class="nav-item">
                <a href="#" class="text-muted">커뮤니티</a>
            </div>
            <div class="nav-item">
                <a href="#" class="text-muted">디벨베스트</a>
            </div>
            <div class="nav-item">
                <a href="#" class="text-muted">디벨가이드</a>
            </div>
            <div class="nav-item">
                <a href="#" class="text-muted">나도몰라시발</a>
            </div>
        </div>
        <div class="d-flex py-2 text-copy">
            <p>&copy; 2022 디벨로이드. 모든 권리 보유.</p>
        </div>
    </div>
</footer>
